*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(hloo.jpg);
    background-position: auto;
    background-size: cover;
    height: 100vh;
}
.vin{
    color: darkorange;
    font-size: 30px;
    
}
.sai{
    color: darkorange;
    font-size: 15px;
    
}
.tts{     
    width: 250px;
    height: 230px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 260px;
    left: 830px;
    transform: translate(0%,-5%);
    border-radius: 50px;
    padding: 25px;
}
.tts h1{
    font-family: 'Times New Roman';
    color: white;
    font-size: 25px;
    padding-left: 20px;
    margin-top: 15%;
    letter-spacing: 2px;
}
.tts span{
    color: #ff7200;
    font-size: 25px;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.vtt{     
    width: 250px;
    height: 230px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 260px;
    right: 830px;
    transform: translate(0%,-5%);
    border-radius: 50px;
    padding: 25px;
}
.vtt h1{
    font-family: 'Times New Roman';
    color: white;
    font-size: 25px;
    padding-left: 20px;
    margin-top: 15%;
    letter-spacing: 2px;
}
.vtt span{
    color: darkorange;
    font-size: 25px;
}
.btnnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}